{% extends 'partial/base.njk' %}

{% block content %}
<article>
    <ul class="breadcrumb">
        <li><a href="{{ config.url }}">Blog</a></li>
        <li><a href="{{ url_for(page.categories.first().path) }}">{{ page.categories.first().name }}</a></li>
    </ul>
    {% if page.thumbnail %}
    <div class="thumbnail">
        {{ image_tag(page.thumbnail, {alt: page.title}) }}
    </div>
    {% endif %}
    <h1>{{ page.title }}</h1>
    <div class="author">
        {{ image_tag('https://www.gravatar.com/avatar/27dd30e7355a2f2740b636da145c4903?s=256', {alt: "Cyril Nicodeme's avatar"}) }}
        Written by
        <span>Cyril Nicodeme</span>
        on
        <span><time datetime="{{ page.date }}">{{ full_date(page.date, "MMM D, YYYY") }}</time></span>
         - 
        <span class="reading-time">{{ readingTime(page.content, 'min read') }}</span>
    </div>
    {% if page.subtitle %}
    <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}
    <main>
        {{ page.content }}
    </main>
    <div class="pager">
        <div>
        {% if page.next %}
            <a href="{{ url_for(page.next.path) }}" title="Read our next older post: {{ page.next.title }}">← Older Post</a>
        {% endif %}
        </div>
        <div class="twitter-share">
            <a href="https://twitter.com/intent/tweet?original_referer={{ page.permalink | urlencode }}&text={{ page.title + ' by @pdfshift' | urlencode}}&url={{ page.permalink }}" target="_blank">Share on Twitter</a>
        </div>
        <div>
        {% if page.prev %}
            <a href="{{ url_for(page.prev.path) }}" title="Read our next newer post: {{ page.prev.title }}">Newer Post →</a>
        {% endif %}
        </div>
    </div>
    <div class="about">
        {{ image_tag('https://www.gravatar.com/avatar/27dd30e7355a2f2740b636da145c4903?s=256', {alt: "Cyril Nicodeme's avatar"}) }}
        <div>
            <h5>About the author<h5>
            <p>
                Cyril Nicodeme is the CEO &amp; Founder of <a href="https://pdfshift.io" target="_blank">PDFShift.io</a>, a simple, efficient and high-fidelity HTML to PDF conversion API.<br />
            </p>
        </div>
    </div>
</article>
{% if theme.disqus %}
<div class="disqus-comments">
    <div class="comments">
        <div id="disqus_thread"></div>
    </div>
</div>
<script>
    var url_parts = window.location.href.split("?");
    var disqus_url = url_parts[0];
    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = "//#{theme.disqus}.disqus.com/embed.js";
        (document.head || d.body ).appendChild(dsq);
    })();
</script>
{% endif %}
{% endblock %}